{% extends "base.html" %}
{% block content %}
<style>
div {
    width:80%;
    margin:auto;
}
h1 {
    margin: auto;
    width:500px;
    height:100px;
    text-align:center;
    padding: 40px;
}
</style>
<h1>Download the app you want</h1>
<div>
<table class="ui celled padded fixed pink table"> 
  <thead>
    <th class="center aligned two wide">Name</th>
    <th class="center aligned seven wide">Introduction</th>
    <th class="center aligned two wide">Posted</th>
    <th class="center aligned two wide">Download</th>
    <th class="center aligned three wide">Questionnaire</th>
  </tr></thead>
  <tbody>
    {% for r in record %}
    <tr>
      <td class="center aligned" style="word-wrap : break-word">
        {{ r.name }}
      </td>
      <td>
        {{ r.intro }}
      </td>
      <td class="center aligned">
        {{ r.time }}  
      </td>
      <td class="center aligned">
        <form method=post>
        <a href="/download/{{ r.apk }}" id="{{ r.apk }}" onclick="linkClick()" value="0">Download it!</a>
        </form>
      </td>
      <td class="center aligned">
        <a href="/questionnaire/{{ r.apk }}">
            <i class="file text outline circular inverted teal icon"></i>
       </a>
      </td>
    </tr>
    <!--<script>
        var clicks = 0;
        function linkClick(){
            document.getElementById('{{ r.apk }}').value = ++clicks;
        }
       var count = $('#{{ r.apk }}').value;
       $('#{{ r.apk }}').click(function () {
           window.alert(count);
        $('#{{ r.apk }}').value=++count; 
        });
    </script>-->
    {% endfor %}
    <input id="clicked" size="3" value="0" >
  </tbody>
</table>
</div>
{% endblock %}
