{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<div class="center">
    <p class='circle-image'
       style="background-image: url(https://graph.facebook.com/{{ user['uid'] }}/picture?type=large);
              margin-left: auto; margin-right: auto;">
    </p>
    <h3>Hello, {{ user['name'] }}.</h3>
    {% if text %}
    <h4>{{ text }}</h4>
    {% endif %}
    {% if charts %}
    <a href="/charts/{{user['uid']}}" id="upload">
    <button class="ui yellow  button">
        Charts
    </button>
    </a>
    {% endif %}
    <a href="/upload" id="upload">
    <button class="ui green  button">
        Upload
    </button>
    </a>

    <a href="/download" id="download">
    <button class="ui red button">
        Download
    </button>
    </a>

    <a href="/logout" id="logout">
    <div class="ui facebook button">
    <i class="facebook icon"></i>
        Logout
    </div>
    </a>

    <script>
        document.getElementById('logout').onclick = function() {
            FB.logout(function(response) { });
        };
    </script>

</div>
{% endblock %}
